<launch>
    <arg name="gui" default="false" />
    <arg name="load_gripper" default="true" />
  <arg name="robot_ip" default="172.16.0.2"/>
 <arg name="publish_rate" default="30" />
  <arg name="rvizbool" default="false" />


    <include file="$(find panda_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="false" />

    </include>

    <include file="$(find panda_moveit_config)/launch/move_group.launch">

    </include>

    <group if="$(arg gui)">
        <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" />
    </group>

</launch>
